# Python
__pycache__/
*.py[cod]
*.pyo

# Gradle / Android build outputs
.gradle/
build/
app/build/
*.apk
*.aab
local.properties

# Android Studio
*.iml
.idea/
.DS_Store

# VS Code
.vscode/

# Keystore
*.jks
*.keystore
node_modules/
.vite/



frontend/dist/
keystore-base64.txt
