DATABASE_URL=sqlite:///./photoguard.db
SUPER_ADMIN_TELEGRAM_ID=123456789
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
JWT_SECRET_KEY=super_secret_jwt_key_photoguard
CLOUDINARY_CLOUD_NAME=photoguard_demo
CLOUDINARY_API_KEY=dummy_key
CLOUDINARY_API_SECRET=dummy_secret
S3_BUCKET=photoguard-private-originals
IDRIVE_ENDPOINT_URL=https://r0b0.us.idrivee2-2.com
AWS_ACCESS_KEY=dummy_access
AWS_SECRET_KEY=dummy_secret
